<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trade List - Review</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>

  <h1>Trade List Icons</h1>
  
  <div id="cardContainer"></div>

  <script>
    async function fetchData() {
      try {
        const response = await fetch('../cex.list.json');
        const data = await response.json();
        console.log(data)
        return data;
      } catch (error) {
        console.error('Error fetching data:', error);
        return [];
      }
    }

    function displayCards(cards) {
      const cardContainer = document.getElementById('cardContainer');
      cardContainer.innerHTML = ''; // Clear existing cards
      cards.forEach(card => {
        const cardElement = document.createElement('div');
        cardElement.classList.add('card');
        cardElement.innerHTML = `
                    <div class="iconContainer">
                      <div class="icon-wrapper" title="Light Icon">
                        <img src="../icons/${card.icon.light}" alt="${card.name} icon" class="icon">
                      </div>
                      <div class="icon-wrapper" title="Dark Icon">
                        <img src="../icons/${card.icon.dark}" alt="${card.name} dark" class="icon">
                      </div>
                    </div>
                    <div class="content"> 
                      <h3>${card.name}</h3>
                      <a href="${card.link}" target="_blank" class="links">${card.link || ''}</a>
                      <p>${card.description || card.pairName || ''}</p>
                    </div>
                `;
        cardContainer.appendChild(cardElement);
      });
    }

    // Initial load
    fetchData().then(displayCards).catch((e) => console.log(e));
  </script>
</body>

</html>