<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ecosystem Projects - Review</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>

  <h1>Ecosystem Projects & Icons</h1>
  <div class="filters">
    <label for="typeFilter">Filter by type:</label>
    <select id="typeFilter">
      <option value="all">All</option>
    </select>
  </div>

  <div id="cardContainer"></div>

  <script>
    async function fetchData() {
      try {
        const response = await fetch('../list.json');
        const data = await response.json();
        console.log(data)
        return data;
      } catch (error) {
        console.error('Error fetching data:', error);
        return [];
      }
    }

    function displayCards(cards) {
      const cardContainer = document.getElementById('cardContainer');
      cardContainer.innerHTML = ''; // Clear existing cards
      cards.forEach(card => {
        const cardElement = document.createElement('div');
        cardElement.classList.add('card');
        cardElement.innerHTML = `
                    <div class="iconContainer">
                      <div class="icon-wrapper" title="Light Icon">
                         <img src="../icons/${card.icon.light}" alt="${card.name} light" class="icon">
                      </div>
                      <div class="icon-wrapper" title="Dark Icon">
                         <img src="../icons/${card.icon.dark}" alt="${card.name} dark" class="icon">
                      </div>
                    </div>
                    <div class="content"> 
                      ${!card.visible ? "<span><i>Hidden </i></span>" : ''}
                      <h4>${card.name} <span style="font-weight:400; color: var(--text-secondary); font-size: 0.9em;">[${card.type}]</span></h4>
                      <a target="_blank" href="${card.link}" class="links">${card.website}</a>
                      <p>${card.description}</p>
                    </div>
                `;
        cardContainer.appendChild(cardElement);
      });
    }

    function filterCards(cards, type) {
      if (type === 'all') return cards;
      return cards.filter(card => card.type === type);
    }

    function setOption(cards) {
      const types = [...new Set(cards.map((c) => c.type))]
      const selectEle = document.getElementById('typeFilter');

      // Clear existing options (except first 'All')
      selectEle.innerHTML = '<option value="all">All</option>';
      
      // Create and append new options
      types.forEach((type) => {
        const option = document.createElement('option');
        option.value = type; 
        option.textContent = type; 
        selectEle.appendChild(option); 
      });
    }

    document.getElementById('typeFilter').addEventListener('change', async (event) => {
      const selectedType = event.target.value;
      const cards = await fetchData();
      const filteredCards = filterCards(cards, selectedType);
      displayCards(filteredCards);
    });

    // Initial load
    fetchData().then((d) => {
      displayCards(d);
      setOption(d)
    }).catch((e) => console.log(e));
  </script>
</body>

</html>